@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marron Muksan<br />
    Computer Engineering<br />
    <abbr title="Phone">P:</abbr>
    0905*******
</address>

<address>
    <strong>Facebook:</strong>   <a href="www.facebook.com/clairemarz26">Marron</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>